@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;

    width: 100vw;
    height: 100vh;

    background-image: url(anexos/pacote-d013/imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: center;
}

section#cell{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 250px;
    height: 500px;
    margin: 20px;

    background-image: url(anexos/pacote-d013/imagens/frame-iphone.png);
    background-size: cover;
    background-position: center;
    background-attachment: ;
}

section#menu{
    
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 400px;
}

img.principal{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 10px;

    border-radius: 50px;
    
}

img.principal:hover{
    border: solid yellow 1px;
}
